on init
    write /sys/class/android_usb/android0/idVendor 0fce
    write /sys/class/android_usb/android0/idProduct 519b
    write /sys/class/android_usb/android0/functions adb,mass_storage
    write /sys/class/android_usb/f_mass_storage/serial_number ${ro.serialno}
    write /sys/class/android_usb/f_mass_storage/eui64_id 000AD90000000000

